---
import type { ExperimentProps } from "../types/layouts";
interface Props extends ExperimentProps {};

const { experimentTitle, description, canonicalUrl, libraryUrls } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="og:title" content={canonicalUrl} />
    {libraryUrls && libraryUrls.map((url: string) => (
      <script type="text/partytown" src={url}></script>
    ))}
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalUrl} />
		<title>Experiment - {experimentTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>