---
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <meta name="description" content={frontmatter.description} />
    <meta name="og:title" content={frontmatter.title} />
    <meta name="og:image" content={frontmatter.ogImageUrl} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={`https://www.jonopens.com${frontmatter.slug}`} />
    <link rel="stylesheet" href="/gruvbox-dark.css" />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>