---
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <meta name="description" content={frontmatter.description} />
    <meta name="og:title" content={frontmatter.title} />
    <meta name="og:image" content={frontmatter.ogImageUrl} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={`https://www.jonopens.com${frontmatter.slug}`} />
    <link rel="stylesheet" href="/material-oceanic.css" />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<main>
			<h1 class="heading">{frontmatter.h1}</h1>
			<slot />
		</main>
	</body>
</html>

<style>
	body {
		font-size: 1.5rem;
		line-height: 2rem;
		margin: auto;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 90ch;
		container-type: inline-size;
	}

	@container (width < 720px) {
		.heading {
			font-size: 2.5rem;
			line-height: 3rem;
		}

		h2 {
			font-size: 1.7rem;
			line-height: 2.2rem;
		}
	}

	.heading {
		font-size: 3rem;
		line-height: 3.2rem;
	}

	h2 {
		font-size: 2rem;
		line-height: 2.3rem;
	}
</style>